.section-title {
  display: table;
  background: $navColor;
  color: white;
  padding: 10px;
  margin: 40px 0;
}
.accordion {
  margin-bottom: 20px;
  div {
    padding: 0;
  }
  a {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: none!important;
    &:hover {
      cursor: pointer;
      color: $navColor;
      border-bottom: none!important;
    }
  }  
  embed {
    width: 100%;
  }
  p {
    i {
      color: inherit;
      font-weight: lighter!important;
    }    
  }
  ul {
    margin: 0;
    li {
      display: list-item;
      margin: 20px 0;
      b {
        font-weight: lighter;
      }
      &:before {
        content: "● ";
      }
    }
  }
}
