@import "mixins";

#contact {
  text-align: center;
  color: $mainColor!important;
  #map-wrapper {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    filter: grayscale(100%);
    iframe {
      width: 100%;
    }
  }
}

