#intro {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  a {
  	border-bottom: none;
    img {
      filter: none;
      @media all and (max-width: 767px) {
        width: 200px;     
      }
    }
    &:hover {
  		border-bottom: none;
  		opacity: .8;
  	}
  }
  h1 {
    line-height: 1.8;
    letter-spacing: 2px;
    color: $navColor;
    font-size: 1.5rem;
    text-transform: uppercase;
    @media all and (max-width: 767px) {
      line-height: 1.2;
    }
    span {
      display: block;
      &:last-child {
        font-size: 70%;
        @media all and (max-width: 767px) {
          margin-top: 20px;
        }
      }
    }
  }
}
