@import "mixins";

#preloader {
  position: fixed;
  // top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #fff!important;
  background: $navColor;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
  &.hide {
    bottom: -100vh;
  }
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/loading2.png);
  background-position: center center;
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  @media all and (max-width: 767px) {
    width: 100px;
  }
  // margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
